	.image img{
	width: 942px;
	height: 400px;
	}

	#slaider_form_adm{
	position: absolute;
	width: 700px;
	height: 100px;
	top: 120px;
	left: 180px; 
	}

	ul{
	padding-top: 200px;
	}

	#position_for_main_file{
	padding-top: 45px;
	padding-left: 70px;
	}

	#slider { /*положение слайдера*/
	position: relative;
	text-align: center;
	top: 10px;
	}
	
	#main_add_file input[type="file"]{
	display: none;
	}

	#main_add_file {
	position: absolute;
	text-align: center;
	width: 300px;
	height: 46px;
	border-radius: 8px;
	background: rgb(94, 129, 168, 0.3);
	color: #55677d;
	}

	#main_add_file span {
	line-height: 45px;
	font-weight:bold;
	}

	#main_add_file label {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	}

	#main_add_file:hover {
	background: rgb(94, 129, 168, 0.35);
	color: #2b323d;
	}

	#btn_send_main_file input[type="submit"]{
	display: none;
	}

	#src_upload_file{
	opacity: 0.5;
	}

	#src_upload_file:hover {
	opacity: 0.8;
	}

	#btn_send_main_file {
	position: absolute;
	text-align: center;
	width: 44px;
	height: 46px;
	border-radius: 8px;
	background: rgb(94, 129, 168, 0.3);
	margin-left: 305px;
	}

	#btn_send_main_file span {
	line-height: 45px;
	font-weight:bold;
	}

	#btn_send_main_file label {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	}

	#btn_send_main_file:hover {
	background: url('G12.1.1.png') no-repeat rgb(94, 129, 168, 0.35);
	}
	
	#delete_img{
	
	}





	










	#gmb {
	position: absolute;
	background: rgba(50, 48, 45, 0.0);
	border-radius: 2px 2px 2px 2px;
	width: 24px;
	height: 24px;
	margin-top: -196px;
	margin-left: 511px;
	text-align: center;
	color: #fff;
	font-family: Verdana;
	}


	ul li:hover #gmb{
	background: rgba(50, 48, 45, 1.0);
	}

	#delete_elemet span{
	visibility: hidden;
	}

	ul li:hover #gmb span{
	visibility: visible;
	}

 	ul li #gmb:hover {
	background: rgba(50, 48, 45, 1.0);
	}

	ul li #gmb:hover  span{
	color: #fff000;
	}

	#hide_deletw_btn li  {
	width: 0;
	}


	.file-upload input[type="file"]{
	display: none;
	}

	.file-upload {
	position: absolute;
	text-align: center;
	width: 296px;
	height: 39px;
	background: rgb(37, 35, 35, 0.0);
	margin-left: 200px;
	margin-top: -45px;
	}

	ul li:hover .file-upload  {
	background: rgba(37, 35, 35, 0.7);
	border: #000 solid 1px; 
	}

	ul li:hover .file-upload span{
	visibility: visible;
	}

	.file-upload:hover span{
	color: #fff000;
	}

	.file-upload span {
	line-height: 40px;
	font-weight:bold;
	visibility: hidden;
	}

	.file-upload label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	}

 	.output_img_for_adm img{
	width: 350px;
	height: 200px;
	margin-top: 17px;
	margin-left: 200px;
	}
	
	.btn_send_file_on_server input[type="submit"]{
	display: none;
	}
	
	.btn_send_file_on_server{
	position: absolute;
	text-align: center;
	width: 48px;
	height: 39px;
	background:  rgb(37, 35, 35, 0.0);
	margin-left: 500px;
	margin-top: -45px;
	}

	.btn_send_file_on_server label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	}
	
	ul li:hover .btn_send_file_on_server  {
	background: url('G11.png') no-repeat rgba(37, 35, 35, 0.7);
	border: #000 solid 1px; 
	}
	
	span .btn_send_file_label{
	visibility: hidden;
	}

	ul li:hover .btn_send_file_label  {
	visibility: visible;
	}

	ul li .btn_send_file_on_server:hover  {
	background: url('G12.png') no-repeat rgba(37, 35, 35, 0.7) !important;
	}
	
	

	.massage{
	position: absolute;
	top: 0px;
	left: 900px;
	border: 2px solid #8D0D19;
	color: #8D0D19;
	font-weight: bold;
	margin: 15 auto;
	width: 155px;
	}

	#previewImg1{
	position: absolute;
	width: 140px;
	height: 80px;
	margin-left: 75px;
	margin-top: -85px;
	}





	


		
			




	#slider{ /*центровка слайдера*/
	margin: 0 auto;
	}

	#slides article{ /*все изображения справа друг от доруга*/
	width: 5%;
	float: left;
	}

	#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
	}

	.image article img{ /*размер изображений слайдера*/
	width: 100%;
	}

	#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 942px; /*максимальнная длинна*/
	}

	label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
	}

	.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
	}

	#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 2000%;
	line-height: 0; 
	} 

	#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
	}

	#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
	}

	#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
	}

	#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
	}

	#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	}

	#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
	}

	#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
	}
